<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>

        <div class="site">
            <div class="header">
                <h1 class="title"><a href="/">{{ site.name }}</a></h1>
                <a class="extra" href="/">home</a>
            </div>

            {{ content }}

            <div class="footer">
                <div class="contact">
                    <p>
                    Scott Wales<br>
                    Computational Modelling Systems<br>
                    <a href="http://climatescience.org.au">ARC CoE for Climate Systems Science</a><br>
                    scott.wales@unimelb.edu.au
                    </p>
                </div>
                <div style="float:right">
                    <div class="contact">
                        <p>
                        <a href="https://github.com/ScottWales">github.com/ScottWales</a><br />
                        </p>
                    </div>
                    <div>
                        <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a><br /><a rel="licence details" href="/licence.html">Licence Details</a>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>
